.profile-setting .text-input-field {
  width: 100%;
  border: 1.5px solid var(--borderLight);
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 16px;
  color: var(--textColor);
  transition: all 0.3s ease;
  font-weight: 500;
}

.profile-setting .text-input-field:focus {
  box-shadow: 0 0 30px rgba(16, 15, 27, 0.15);
  border: 1.5px solid var(--borderColor);
}

.profile-setting .label-style{
    background: #fff;
    margin-left: 14px;
    padding: 1px;
}

.profile-setting .dropdown{
  width: 100%;
  height: 50px;
}

.profile-setting .dropdown .ant-select-selector {
  border: 1.5px solid #d9d9d9 !important;
  border-radius: 8px;
  padding: 10px 14px;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

.profile-setting .dropdown .ant-select-selector:focus {
  border: 1.5px solid var(--borderColor);
  box-shadow: 0 0 30px rgba(16, 15, 27, 0.15);
}

.profile-setting .date-picker .ant-picker-input input {
  font-size: 16px;
  font-weight: 500;
}
