page {
    background: white;
    display: block;
    border: 1.5px solid var(--borderColor);
    border-radius: 8px;
    width: 90%;
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
  }
  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }

  .tracking-id-btn{
    background: white;
    border: 1.5px solid var(--borderColor);
    margin: 1rem 0;
  }

  .tracking-id-btn:hover{
    color: var(--textColor) !important;
    background: var(--bgColor) !important;
    border-color: var(--borderColor) !important;
  }

  .appointment-heading{
    text-align: center;
    color: var(--headingColor);
    font-weight: bold;
    text-transform:  uppercase;
    font-size: 1.5rem;
    margin: 1rem;
  }

  .appointment-text{
    font-size: 1rem;
    font-weight: 500;
    color: var(--textColor);
  }

  .appointment-para{
    text-align: justify;
    font-size: 1rem;
    color: var(--textColor);
    font-weight: 500;
  }