.card-table {
  border: 1.5px solid var(--borderColor);
  border-radius: 4px;
}

.card-table .table-top-heading {
  background: var(--bgLight);
  color: var(--headingColor);
  text-transform: capitalize;
  border-radius: 3px 3px 0 0;
}

.card-table .table-data {
  font-weight: 500;
  color: var(--textColor);
  font-size: 14px;
  text-transform: capitalize;
}

.card-table .btn-circle{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}