/* Form Styling */
.contact {
  margin-top: 2rem;
}

.form-control {
  height: 3.2rem;
}

.contact-input-field {
  margin-bottom: 1.5rem;
}

.contact form .form-control {
  border: 1.5px solid var(--borderLight);
  border-radius: 25px;
  background: var(--bgColor);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--textLight);
  transition: all 0.3s ease;
}

.contact form .form-control:focus {
  box-shadow: 0 0 30px rgba(16, 15, 27, 0.15);
  border: 1.5px solid var(--borderColor);
}

.contact form textarea.form-control {
  height: 140px;
}
