.services .service-card{
    border: 1.5px solid var(--borderColor);
    border-radius: 10px 100px 10px 10px;
    box-shadow: var(--shadowAll);
    height: 500px;
    background: var(--bgColor);
    transition: all 0.35s ease-in-out;
}

.services .service-card:hover{
    transform: scale(1.015);
}

.services .service-card img{
<<<<<<< HEAD
    border-radius: 9px 99px 0 0;
    cursor: pointer;
=======
    border-radius: 9px 9px 50px 0;
    cursor: pointer;
    height: 230px;
>>>>>>> 1ec088e47a2c63255e950fbafe538465ebfb07b6
}

.services .service-card h4{
    color: var(--primaryColor);
}

.services .service-card p{
    color: var(--textLight);
    text-align: justify;
}