.service-img img {
  border: 1px solid var(--borderColor);
  box-shadow: var(--shadowAll);
  background-color: rgba(0, 0, 0, 0.2);
}

.service-img .img1 {
  border-radius: 10% 0px 30% 0px;
}

.service-img .img2 {
  border-radius: 0px 30% 0px 10%;
}

.service-img .img3 {
  border-radius: 0px 10px 10px 0px;
}

/* Adding background on image */
.service-img .img-wrapper1 {
  position: relative;
  display: inline-block;
}

.service-img .img-wrapper1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--borderColor);
  border-radius: 7% 0px 25% 0px;
  background: linear-gradient(97.05deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 100%);
}

.service-img .img-wrapper2 {
  position: relative;
  display: inline-block;
}

.service-img .img-wrapper2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0px 25% 0px 7%;
  border: 1px solid var(--borderColor);
  background: linear-gradient(97.05deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 100%);
}

.service-img .img-wrapper3 {
  position: relative;
  display: inline-block;
}

.service-img .img-wrapper3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(97.05deg, rgba(0, 0, 0, 0.1) 1.76%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 0px 10px 10px 0px;
}
