.home-service-section .service-img {
  border: 2px solid var(--borderColor);
  padding: 1rem;
  box-shadow: var(--shadowAll);
  border-radius: 8px;
  background: var(--bgColor);
}

.home-service-section .service-img img {
  border: 1px solid var(--borderColor);
  border-radius: 8px;
}

/* Adding background on image */
.home-service-section .service-img .img-wrapper {
  position: relative;
  display: inline-block;
}

.home-service-section .service-img .img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  background: linear-gradient(
    97.05deg,
    rgba(56, 4, 12, 0.15),
    rgba(56, 4, 12, 0.25) 100%
  );
}

.home-service-section .btn-get-started {
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

.home-service-section .btn-get-started:hover {
  background: var(--primaryHoverColor);
  color: white;
}

.home-service-section .doctor {
  border: 1.5px solid var(--borderColor);
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.home-service-section .service-content {
  padding-left: 1rem;
}

.home-service-section .service-content .service-title {
  color: var(--primaryColor);
  font-weight: 500;
  font-size: 1.75rem;
}

/* Media Query */
@media (max-width: 1401px) {
  .home-service-section .doctor {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 1201px) {
  .home-service-section .doctor {
    width: 250px;
    height: 250px;
  }

  .home-service-section .btn-get-started {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .home-service-section .doctor {
    width: 500px;
    height: 500px;
  }

  .home-service-section .service-content {
    padding: 1rem;
  }

  .home-service-section .btn-get-started {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .home-service-section .doctor {
    width: 350px;
    height: 350px;
  }

  .home-service-section .btn-get-started {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 576px) {
  .home-service-section .doctor {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 380px){
  .home-service-section .doctor {
    width: 260px;
    height: 260px;
  }
}
